* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  min-height: 100vh;
  background: #161616;
  font-family: "Poppins", sans-serif;
}

.score {
  color: #c4c3c3;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score h1 {
  font-size: 2rem;
}

.score p {
  text-align: center;
  font-size: 20px;
  padding-top: 1rem;
}

.intro {
  height: 50vh;
  color: #c4c3c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 3.5rem;
}

.intro button,
.match button {
  font-family: "Poppins", sans-serif;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  color: #161616;
  border: none;
  background: #00c6cf;
  border-radius: 2rem;
  cursor: pointer;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  color: #c4c3c3;
  font-size: 3.5rem;
  text-align: center;
}

.hands,
.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hands {
  padding: 1rem 0 3rem 0;
}

.player-hand {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@-webkit-keyframes shakePlayer {
  0% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  15% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  35% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  75% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  85% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
}

@keyframes shakePlayer {
  0% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  15% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  35% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  75% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  85% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
}

@-webkit-keyframes shakeComputer {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  15% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  35% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  85% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes shakeComputer {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  15% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  35% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  85% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@media (max-width: 760px) {
  .winner {
    font-size: 1.6rem;
  }
  .hands {
    padding: 0.2rem 0 1rem 0;
  }
  .intro button,
  .match button {
    width: 4.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }
  .intro h1 {
    font-size: 1.6rem;
  }
  .intro {
    height: 70vh;
  }
  .score h1 {
    font-size: 1.6rem;
  }
  .score p {
    font-size: 15px;
    padding-top: 0.5rem;
  }
  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .paper {
    margin: 1rem 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */